@media (max-width: 1023px) {
    .main-banner-container {
        flex-direction: column;
    }

    .main-banner-img {
        width: 80%;
    }

    .pinned-items-container {
        /* flex-direction: column; */
        padding: 5% 7%;
    }

    .left-pinned-item,
    .right-pinned-items-stack {
        width: 800px;
    }

    .pinned-item-content h3,
    .pinned-item-content h2 {
        font-size: 1.5rem;
    }

    form {
        width: 80%;
    }
}

/* phones */
@media (max-width: 769px) {
    .first-navbar {
        flex-direction: column;
        padding: 1rem 1.2rem;
        /* align-items: center; */
    }

    .second-navbar {
        flex-direction: column;
        align-items: stretch;
        padding: 1rem 1.2rem;
    }

    .main-banner-content p {
        font-size: 1rem;
        text-align: center;
    }

    .main-banner-content h1 {
        font-size: 5rem;
    }

    .main-banner-content h2 {
        font-size: 3rem;
    }

    .main-banner-container img {
        width: 100%;
    }

    .pinned-items-container {
        flex-direction: column;
        padding: 5% 1.5%;
    }

    .left-pinned-item,
    .right-pinned-items-stack {
        width: 320px;
    }

    .menu-section-container {
        padding: 50px 30px
    }

    .stacked-item-1 {
        margin-bottom: 10px;
    }

    .pinned-item-content h3,
    .pinned-item-content h2 {
        font-size: 1.1rem;
    }

    form {
        width: 80%;
    }

    .form-div {
        flex-direction: column;
    }

    .footer-left-content-p {
        width: 100%;
    }
    input{
        margin: 10px 0;
    }
    form button{
        margin: 10px 0;
    }

    .footer-container {
        flex-direction: column;
        align-items: start;
    }
    .footer-left-content {
        flex: 2;
        padding-left: 0;
    }



}